#这是一个词典的源文件
#

#这是第一个词条
%%hello world
+根结点:标例词组
%m
这里我要输入一段文字, 用来描述hello world这个词条. \
hello world在许多语言教程中都作为第一个程序示例
下面给出一段音标
%t
ˊheˊləu \
%m
描述完毕 \
添段语音文件试试

%%中国
%m
中华人民共和国
%m
^Makefile
%

%%标例词组
+根结点
%m
要命啊~~~
这样应该行得通吧.
