<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>StarDict</string>
    <key>CFBundleGetInfoString</key>
    <string>Stardict 3.0.5.1 Copyright 2013</string>
    <key>CFBundleIconFile</key>
    <string>Stardict.icns</string>
    <key>CFBundleIdentifier</key>
    <string>org.stardict</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>StarDict</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>3.0.5</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>3.0.5</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.reference</string>
    <key>LSHasLocalizedDisplayName</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright 1999 - 2013 The StarDict Team, GNU General Public License.</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.4</string>
</dict>
</plist>
